* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
/* variables */
:root {
  --eng-font: "Poppins", sans-serif;
  --main-font: "Cairo", sans-serif;
  --main-clr: #10df6b;
  --p-clr: #777;
}
/* main elements */
.container {
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 980px;
  }
}
h2.title {
  width: fit-content;
  margin: auto;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
}

@media (max-width: 460px) {
  h2.title {
    font-size: 27px;
  }
}
h2.title span {
  color: var(--main-clr);
}
h2.title::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--main-clr);
  position: absolute;
  bottom: -20px;
  right: 0;
}
/* start header */
header {
  background-color: #fff;
  box-shadow: 0 5px 7px #000;
  position: relative;
  background-color: var(--main-clr);
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
header .container .logo img {
  max-height: 100%;
}
header .container .logo h2 {
  font-family: var(--eng-font);
  font-size: 26px;
  margin-left: 10px;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container nav a {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--eng-font);
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
}
header .container nav a:hover {
  color: #fff;
}
header .icon {
  display: none;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}
@media (max-width: 510px) {
  header .container {
    flex-direction: row;
  }
  header .container nav {
    display: none;
  }
  header .container nav.active {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 72px;
    right: 0;
    align-items: flex-start;
    z-index: 100;
  }
  header .container nav a:not(:last-child):before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  header .container nav a {
    background-color: #000;
    color: #fff;
    width: 100%;
    justify-content: flex-start;
  }
  header .container nav a:hover {
    padding-left: 30px;
  }
  header .icon {
    display: block;
    font-size: 25px;
    margin-right: 20px;
  }
}
/* end header */
/* start home */
.home {
  height: calc(100vh - 72px);
  background-image: url("../images/Background.jpg");
  background-size: cover;
  position: relative;
}
.home img {
  width: 441px;
  box-shadow: 0 0px 50px #000, 0 0 40px #000, 0 0 20px #000, 0 0 10px #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home .info {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 20%;
  background-color: #ffffff74;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.home .info h2 {
  font-size: 43px;
  line-height: 1.6;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px var(--main-clr);
}
.home .info p {
  font-size: 20px;
  margin-bottom: 100px;
  color: var(--main-clr);
  text-shadow: 0 0 10px #000;
}
@media (max-width: 767px) {
  .home img {
    display: none;
  }
  .home .info {
    right: 50%;
    background-color: #ffffffb8;
  }
  .home {
    background-image: url("../images/logo.jpg");
    background-position: center;
  }
  .home .info p {
    color: #000;
  }
}
.home .info button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: var(--main-clr);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
}
.home .info button a {
  color: var(--main-clr);
  text-decoration: none;
  z-index: 100;
  position: relative;
}
.home .info button::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home .info button::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home .info button:hover a {
  color: #000;
}
.home .info button:hover::before {
  left: 0;
}
.home .info button:hover::after {
  right: 0;
}
/* end home */
/* start portfolio */
.portfolio {
  padding: 100px 0 50px;
  background-color: #000;
  box-shadow: 0px -3px 20px 10px #000;
  z-index: 100;
  position: relative;
}
.portfolio .container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 767px) {
  .portfolio .container .box-container .card {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.portfolio .container .box-container .card img {
  width: 100%;
  cursor: pointer;
}
.portfolio .container .box-container .card i {
  display: none;
}
.portfolio .container .box-container .card .full-img {
  display: none;
}
.portfolio .container .box-container .card.active .full-img {
  display: block;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}
.portfolio .container .box-container .card.active .full-img img {
  width: 500px;
  position: relative;
  z-index: 900;
}
@media (max-width: 425px) {
  .portfolio .container .box-container .card.active .full-img img {
    width: 100vw;
  }
}
.portfolio .container .box-container .card.active i {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 40px;
  z-index: 999;
  color: #fff;
  cursor: pointer;
}
.facebook {
  padding: 100px 0;
  background-color: #0e2c16;
}
.facebook h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .facebook h2 {
    font-size: 30px;
  }
}
.facebook button {
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--main-clr);
  position: relative;
  overflow: hidden;
}
.facebook button::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.facebook button::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.facebook button a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  z-index: 50;
}
.facebook button:hover::after {
  right: 0;
}
.facebook button:hover::before {
  left: 0;
}
/* end portfolio */
/* start about */
.about {
  padding: 100px 0;
  background-color: #000;
  position: relative;
  z-index: 50;
  box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 40px #000;
}
.about .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .about .container .box {
    flex-direction: column;
  }
  .about .text {
    text-align: center;
    list-style: none;
  }
}
.about img {
  max-width: 350px;
}
.about .text {
  color: #fff;
  direction: rtl;
  font-size: 20px;
  line-height: 1.6;
}
.about .text span {
  color: var(--main-clr);
}
.about .text li {
  line-height: 2;
  list-style-position: inside;
}
.about .text li:first-of-type {
  margin-top: 20px;
}
/* end about */
/* start services */
.services {
  padding: 100px 20px;
  background-color: #0e2c16;
}
.services .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box .card {
  position: relative;
}
.services .box .card img {
  width: 100%;
}
.services .box .card h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
/* end services */
/* start testimonials */
.testimonials {
  padding: 100px 20px;
  background-color: #000;
  box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 40px #000;
  position: relative;
  z-index: 50;
}
.testimonials .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box .card {
  box-shadow: 0 0 10px #fff;
  padding: 40px 20px;
  color: #fff;
  direction: rtl;
}
.testimonials .box .card h2 {
  text-align: center;
  font-size: 27px;
  color: var(--main-clr);
  margin-bottom: 30px;
}
.testimonials .box .card q {
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 1.6;
  font-style: italic;
}
/* end testimonials */
/* start commend */
.commend {
  padding: 100px 20px;
  background-color: #0e2c16;
}
.commend .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
@media (max-width: 767px) {
  .commend .box {
    flex-direction: column;
  }
}
.commend .box .card {
  padding: 20px;
  text-align: center;
  background-color: #ffffffc4;
  border-radius: 5px;
  box-shadow: 0 0 10px #fff;
}
.commend .box .card h2 {
  margin-bottom: 20px;
  position: relative;
}
.commend .box .card p {
  padding: 0 50px;
  margin-bottom: 40px;
}
.commend .box .card button {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.commend .box .card button::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: var(--main-clr);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.commend .box .card button::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -50%;
  background-color: var(--main-clr);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.commend .box .card button a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 50;
}
.commend .box .card button:hover::after {
  left: 0;
}
.commend .box .card button:hover::before {
  right: 0;
}
.commend .box .card button:hover a {
  color: #000;
}
.commend h3 {
  text-align: center;
  color: #fff;
  margin-top: 80px;
  font-size: 25px;
}
/* end commend */
/* start contact */
.contact {
  padding: 100px 20px;
  background-color: #000;
  box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 40px #000;
}
.contact .contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .box {
  color: #fff;
}
.contact .box p {
  font-size: 25px;
  line-height: 3;
}
@media (max-width: 992px) {
  .contact .contact-box {
    flex-direction: column;
  }
  .contact .box {
    margin-bottom: 100px;
  }
  .contact .box p {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .contact .box p {
    font-size: 17px;
  }
  .contact .box p span {
    display: block;
    width: fit-content;
  }
}
.contact .box p span {
  border-bottom: 2px solid #fff;
  color: var(--main-clr);
  margin-right: 7px;
}
.contact .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.contact .social-icons a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}
.contact .social-icons a:hover {
  color: var(--main-clr);
}
/* end contact */
/* start footer */
footer {
  padding: 25px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0e2c16;
}
@media (max-width: 700px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }
}
footer .left {
  font-size: 20px;
  color: #fff;
}
footer .left a {
  text-decoration: none;
  color: var(--main-clr);
  font-weight: bold;
}
footer .right {
  display: flex;
  align-items: center;
}
footer .right a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
}
/* end footer */
/* start go to top button */
.top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 2px;
  z-index: 999;
}
.top-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #000;
  text-decoration: none;
}
/* end go to top button */
